body{
    text-align: center;
    font-family: sans-serif;
    background-color: #66e5;
    margin: 0;
}

header {
    padding: 18px 0;
    background-color: #66e;
    color: #f4f4f4;
    width: 86%;
    position:absolute;
    right: 0;
    top: 0;
}

section{
    text-align: justify;
}

.titlespan {
    color: #000;
    font-weight: 300;
}

.COMPRARNOS {
    color: #f4f4f4;
    box-shadow: -10px  10px 0 0 #4a4a4a34;
    width: fit-content;
    margin: 20px;
    padding: 25px 5px;
    background-color: #66e;
    border-radius: 9px;
    transition: 3s ease;
    -webkit-transition: 3s ease;
    -moz-transition: 3s ease;
    -ms-transition: 3s ease;
    -o-transition: 3s ease;
    box-sizing: border-box;
}

.subt1{
    color: #f4f4f4;
}

li{
    margin: 30px;
    list-style: disc;
}

.li1{
    height: 23px;
    padding: 5px;
    width: 80%;
    background-color: #f4f4f4;
    color: #000;
    border-radius: 5px;
    border: 2px #77f solid;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    transition: 2s ease;
    -webkit-transition: 2s ease;
    -moz-transition: 2s ease;
    -ms-transition: 2s ease;
    -o-transition: 2s ease;
}

.li1:hover{
    padding: 7px;
    box-shadow: 0 0 40px 0 #0f0f0f;
}


@media (min-width: 1201px) {
  h1 {
    text-align: center;
  }

  #datos, #descripcion, #contenido {
    float: left;
    padding: 0;
    margin: 0;
  }

  #datos {
   width: 33%;
  }

  #descripcion {
   width: 33%;
  }

  #contenido {
   width: 33%;
  }  
}

@media (min-width: 601px) and (max-width: 1200px) {
  h1 {
    text-align: center;
  }

  #datos, #principal {
    float: left;
    padding: 0;
    margin: 0;
  }

  #datos {
   width: 30%;
  }

  #principal {
    width: 70%;
  }

  #apartados {
    list-style-type: none;
    padding: 0;
  }

#apartados li {
    float: left;
    width: 33%;
}
}

@media (max-width: 600px) {
  #datos ul {
    padding-left: 0;
  }

  #datos li {
    display: inline;
  }
  
  #datos li:after {
    content: "; ";
  }
}

h2{
    transition: 0.6s ease;
    -webkit-transition: 0.6s ease;
    -moz-transition: 0.6s ease;
    -ms-transition: 0.6s ease;
    -o-transition: 0.6s ease;
}

.COMBOSECTION1 {
  width: 90%;
  height: 1000px;
  background: #000;
  border: 15px;
  margin: auto;
  margin-top: 500px;
  box-sizing: border-box;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.sidebar{
    /*Measurments*/
    top: 0;
    width: 14vw;
    height: 100%;
    padding: 15px;
    /*Contentbox*/
    position: fixed;
    overflow: hidden;
    box-sizing: border-box;
    /*Aesthetics*/
    color: #fff;
    background: #aae;
    box-shadow: 0 0 15px 0 #5556;
    /*Fontandtext*/
    font-weight: 100;
    font-family: Verdana, 'Geneva', Tahoma, sans-serif;
    transition: 0.3s;
}

.Opaco {
    position: fixed;
    top: 0;
    right: 0;
    width: 86vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s;
}

.sidebar:hover{
    z-index: 1;
    box-shadow: 0 0 100vw 0 #56e;
}

.sidebar:hover ~ .Opaco {
    opacity: 1;
}

.Selects, .contactMe, .FAQ{
    width: 14vw;
    margin: 15px 5px;
    padding: 4px 2px;
    border: none;
    text-decoration: none;
    border-left: 3px solid #33e;
    background-color: #66e;
    color: #000;
    transition: 0.2s;
}
